# Ignore Python cache and environment files
__pycache__/
*.pyc

# Ignore environment variable and credential files
.env
fyp25098-734f47c04608.json

# Ignore OS files
.DS_Store

# Ignore virtual environments
venv/
.env/
